

h1 {
	color: #ff9999;
	font: 40px helvetica, sans-serif;
}
.responsive-image {
	width: 100%;
}

p {
	font: 25px helvetica
}

img {
    border-radius: 50px;
    max-width: 100%;
    height: auto;
}

@media only screen and (min-width: 760px) {.description-block {
	width: 50%;
	font-size: 16px;
	}
}
