

h1 {
	font-family: 'Merriweather', serif, 80px;
	text-align:center;
}

h2 {
	font: 25px times;
	text-align: center;
}

h3 {
	font: 25px times;
	text-align: left;
	font:bold;
}
body {
    background-color: white;
}

p {
	font: 18px times;
}



.img-circle {
	display: block;
	margin-left: auto;
    margin-right:auto;
    border-radius: 50%;
    width: 200px;  
}

div.rundbild {
	display: block;
	padding-left: auto;
	padding-right: auto;
	width: 100%;
}

.img-work {
	width: 500px;
	width: 90%;
}


div.jobben {
	background-color: lightgrey;
	text-align: left;
	padding-left: 30px;
	padding-top: 30px;
	padding-bottom: 20px;
}

div.upptill {
	background-color: lightgrey;
	padding-top: 30px;
}

div.ommig {
	padding-left: 30px;
	padding-top: 30px;
	padding-bottom: 20px;
}

div.rutan {
	background-color: lightblue;
	margin:10%
	margin-bottom:30px;
	padding-left: 20px;
	padding-top: 10px;
}

.insta {
	display:block;
	width: auto;
	height: 60px;
	margin-left: auto;
    margin-right:auto;
}

@media only screen and (min-width: 760px) {.description-block {
	width: 50%;
	font-size: 16px;
	}
}
