

h1 {
	color: #ccffff;
	font: 40px times;
	text-align:center;
}

h2 {
	font: 20px times;
	text-align: center;
}

h3 {
	text-align: left;
}
body {
    background-color: white;
}

p {
	font: 15px times;
}



.img-circle {
	display: block;
	margin-left: auto;
    margin-right:auto;
    border-radius: 50%;
    width: 80%;  
}

div.rundbild {
	display: block;
	padding-left: auto;
	padding-right: auto;
	width: 100%;
}

.img-work {
	display: block;
	margin-left: auto;
    margin-right:auto;
	width: 100%;
}


div.jobben {
	background-color: lightgrey;
	text-align: left;
	padding-left: 20px;
	padding-top: 30px;
	padding-bottom: 20px;
}

div.upptill {
	background-color: lightgrey;
	padding-left: 20px;
}

div.ommig {
	padding-left: 20px;
	padding-top: 30px;
	padding-bottom: 20px;
}

div.rutan {
	background-color: lightblue;
	margin:10%
	margin-bottom:30px;
	padding-left: 20px;
	padding-top: 10px;
}

.insta {
	display:block;
	width: auto;
	height: 60px;
	margin-left: auto;
    margin-right:auto;
}

@media only screen and (min-width: 760px) {.description-block {
	width: 50%;
	font-size: 16px;
	}
}
